.map-container {
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 500px;
    width: 100%;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 60%;
  }
  
  #map {
    height: 100%;
  }